/* See All Apartment section */
// using mixins
.see-all-apartment {
  @include display-justcenter;
}

// positioning of the 4 boxes present in the see-all-apartment section
.image-block {
  position: $position_rel;
}

.image1 {
  margin-left: 28rem;
  width: 800px;
  margin-top: -18rem;
}

.image2 {
  position: $position_abs;
  bottom: -2rem;
  left: 40px;
  margin-left: 22rem;
  width: 330px;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.image3 {
  position: $position_abs;
  bottom: 80px;
  left: 40px;
  width: 100px;
  margin-bottom: 5rem;
  margin-top: 2rem;
  margin-left: 28em;
  top: 500px
}

.dot-img {
  margin-left: 24rem;
  margin-top: 5rem;
}

// css for the text block in the see all apartment section 
.see-all-text-block {
  position: $position_abs;
  color: $main-light-blacktext;
  top: 200px;
  left: 40px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  
}

.see-all-button-block {
  @include display-justcenter;
  @include text-center;
  @include border-radius(0px, $border-radius-twenty);
  background-color: $main-blue-button;
  color: $white-color-text;
  position: $position_abs;
  top: 22rem;
  left: 60px;
  padding: 14px 62px;
}

.location {
  color: $main-blue-text;
}